        <!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Emilia Cole - About</title>
            <script src="https://kit.fontawesome.com/2e2ec8e27e.js" crossorigin="anonymous"></script>
            <link rel="stylesheet" href="/css/style.css">
        </head>
        <body class="body_about">
            <header class="header_nav">
                <nav class="nav_accesos_cabecera nav_bloque_sombreado">
                    <ul>
                        <li><a href="/">| HOME |</a></li>
                        <li><a href="/about">ABOUT |</a></li>
                        <li><a href="/music">MUSIC |</a></li>
                        <li><a href="/contact">CONTACT |</a></li>
                    </ul>
                </nav>
                <ul class="nav_redessociales">
                    <li><a href="https://twitter.com/"><i class="fa-brands fa-x-twitter"></i></a></li>
                    <li><a href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i></a></li>
                    <li><a href="https://open.spotify.com/intl-es"><i class="fa-brands fa-spotify"></i></a></li>
                    <li><a href="https://music.apple.com/us/browse"><i class="fa-brands fa-apple"></i></a></li>
                    <li><a href="https://music.amazon.com/"><i class="fa-brands fa-amazon"></i></a></li>
                    <li><a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a></li>
                </ul>
            </header>
            <section><h1 id="titulo_about">ABOUT<br>EMILIA //</h1></section>
            
            <section id="texto1">
                <h3>"Seattle-based pop star makes her <br>indie debut with a hauntingly beautiful album"</h3>
                <h5>- John Tirckle, Music Today Post</h5>
            </section>
            <section id="texto2">
                <h3>"Emilia Cole is one of the <br>scene's breakout stars"</h3>
                <h5>- John Tirckle, Music Today Post</h5>
            </section>
        </body>
        </html>