        <!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Emilia Cole - Contact</title>
            <script src="https://kit.fontawesome.com/2e2ec8e27e.js" crossorigin="anonymous"></script>
        </head>
        <body>
            <header>
                <nav>
                    <ul>
                        <li><a href="/">HOME</a></li>
                        <li><a href="/about">ABOUT</a></li>
                        <li><a href="/music">MUSIC</a></li>
                        <li><a href="/contact">CONTACT</a></li>
                    </ul>
                </nav>
                <ul>
                    <li><a href="https://twitter.com/"><i class="fa-brands fa-x-twitter"></i></a></li>
                    <li><a href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i></a></li>
                    <li><a href="https://open.spotify.com/intl-es"><i class="fa-brands fa-spotify"></i></a></li>
                    <li><a href="https://music.apple.com/us/browse"><i class="fa-brands fa-apple"></i></a></li>
                    <li><a href="https://music.amazon.com/"><i class="fa-brands fa-amazon"></i></a></li>
                    <li><a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a></li>
                </ul>
            </header>
            <section><h1>CONTACT //</h1></section>
            <section>
                <h3>WE ARE HERE</h3>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d158858.182370726!2d-0.10159865000000001!3d51.52864165!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d8a00baf21de75%3A0x52963a5addd52a99!2sLondres%2C%20Reino%20Unido!5e0!3m2!1ses-419!2sar!4v1697163035664!5m2!1ses-419!2sar" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </section>
            <section>
                <h3>CONTACT INFO</h3>
            </section>
            <section>
                <article> 
                    <h4>MANAGEMENT | Karen Blanche</h4>
                    <a href="mailto: info@mysite.com">email: info@mysite.com</a><br>
                    <a href="phone: 123-456-7890">phone: 123-456-7890</a>
                </article>
            <section>
                <article>
                    <h4>BOOKING | Daniel Ku</h4>
                    <a href="mailto: info@mysite.com">email: info@mysite.com</a><br>
                    <a href="phone: 123-456-7890">phone: 123-456-7890</a>
                </article>
            </section>
            <section>
                <article>
                    <h4>LABEL | Wix Records, Jake Coldman</h4>
                    <a href="mailto: info@mysite.com">email: info@mysite.com</a><br>
                    <a href="phone: 123-456-7890">phone: 123-456-7890</a>
                </article>
            </section>
            <section>
                <article>
                    <h4>PR | That Girl Pr, Sarah Brookstone</h4>
                    <a href="mailto: info@mysite.com">email: info@mysite.com</a><br>
                    <a href="phone: 123-456-7890">phone: 123-456-7890</a>
                </article>
            </section>
            </section>
        </body>
        </html>