        <!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Emilia Cole - Contact</title>
            <script src="https://kit.fontawesome.com/2e2ec8e27e.js" crossorigin="anonymous"></script>
            <link rel="stylesheet" href="/css/style.css">
        </head>
        <body>
            <header class="header_nav">
                <nav class="nav_accesos_cabecera nav_bloque_sombreado">
                    <ul>
                        <li><a href="/">| HOME |</a></li>
                        <li><a href="/about">ABOUT |</a></li>
                        <li><a href="/music">MUSIC |</a></li>
                        <li><a href="/contact">CONTACT |</a></li>
                    </ul>
                </nav>
                <ul class="nav_redessociales">
                    <li><a href="https://twitter.com/"><i class="fa-brands fa-x-twitter"></i></a></li>
                    <li><a href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i></a></li>
                    <li><a href="https://open.spotify.com/intl-es"><i class="fa-brands fa-spotify"></i></a></li>
                    <li><a href="https://music.apple.com/us/browse"><i class="fa-brands fa-apple"></i></a></li>
                    <li><a href="https://music.amazon.com/"><i class="fa-brands fa-amazon"></i></a></li>
                    <li><a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a></li>
                </ul>
            </header>
            <section id="titulo_contact"><h1>CONTACT //</h1></section>
            <section>
                <h3 id="subtitulo_contact">WE ARE HERE</h3>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d158858.182370726!2d-0.10159865000000001!3d51.52864165!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d8a00baf21de75%3A0x52963a5addd52a99!2sLondres%2C%20Reino%20Unido!5e0!3m2!1ses-419!2sar!4v1697163035664!5m2!1ses-419!2sar" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </section>
            <section>
                <h3 id="subtitulo_contact">CONTACT INFO</h3>
            </section>
            <section>
                <h4 class="sector_encargado">MANAGEMENT | Karen Blanche</h4>
                <article class="email_contacto">
                    <p>email: </p>
                    <p><a href="mailto: info@mysite.com">info@mysite.com</a></p>
                </article>
                <article class="phone_contacto">
                    <p>phone: </p>
                    <p><a href="phone:123-456-7890">123-456-7890</p>
                    </a>
                </article>
            <section>
                <h4 class="sector_encargado">BOOKING | Daniel Ku</h4>
                <article class="email_contacto">
                    <p>email: </p>
                    <p><a href="mailto: info@mysite.com">info@mysite.com</a></p>
                </article>
                <article class="phone_contacto">
                    <p>phone: </p>
                    <p><a href="phone:123-456-7890">123-456-7890</p>
                    </a>
                </article>
            </section>
            <section>
                <h4 class="sector_encargado">LABEL | Wix Records, Jake Coldman</h4>
                <article class="email_contacto">
                    <p>email: </p>
                    <p><a href="mailto: info@mysite.com">info@mysite.com</a></p>
                </article>
                <article class="phone_contacto">
                    <p>phone: </p>
                    <p><a href="phone:123-456-7890">123-456-7890</p>
                    </a>
                </article>
            </section>
            <section>
                <h4 class="sector_encargado">PR | That Girl Pr, Sarah Brookstone</h4>
                <article class="email_contacto">
                    <p>email: </p>
                    <p><a href="mailto: info@mysite.com">info@mysite.com</a></p>
                </article>
                <article class="phone_contacto">
                    <p>phone: </p>
                    <p><a href="phone:123-456-7890">123-456-7890</p>
                    </a>
                </article>
            </section>
            </section>
        </body>
        </html>