    <!DOCTYPE html>
    <html lang="en">
    <link>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">        
        <title>Emilia Cole</title>
        <script src="https://kit.fontawesome.com/2e2ec8e27e.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body class="home_body">
        <header>
            <nav class="nav_home">
                <ul >
                    <li><a href="/">HOME</a></li>
                    <li><a href="/about">ABOUT</a></li>
                    <li><a href="/music">MUSIC</a></li>
                    <li><a href="/contact">CONTACT</a></li>
                </ul>
            </nav>
            <ul class="nav_redessociales">
                <li><a href="https://twitter.com/"><i class="fa-brands fa-x-twitter"></i></a></li>
                <li><a href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i></a></li>
                <li><a href="https://open.spotify.com/intl-es"><i class="fa-brands fa-spotify"></i></a></li>
                <li><a href="https://music.apple.com/us/browse"><i class="fa-brands fa-apple"></i></a></li>
                <li><a href="https://music.amazon.com/"><i class="fa-brands fa-amazon"></i></a></li>
                <li><a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a></li>
            </ul>
        </header>
        <section>
            <h3 class="home_subtitulo">E M I L I A<br>C O L E / /</h3>
            <h1 class="home_titulo">TWIST IN MY REALITY</h1>
        </section>
    </body>
    </html>