    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Emilia Cole - Music</title>
        <script src="https://kit.fontawesome.com/2e2ec8e27e.js" crossorigin="anonymous"></script>
    </head>
    <body>
        
        <header id="top">
            <img src="/img/emilia-music-top.jpg" alt="background">
            <nav>
                <ul>
                    <li><a href="/">HOME |</a></li>
                    <li><a href="/about">ABOUT |</a></li>
                    <li><a href="/music">MUSIC |</a></li>
                    <li><a href="/contact">CONTACT |</a></li>
                </ul>
            </nav>
            <ul>
                <li><a href="https://twitter.com/"><i class="fa-brands fa-x-twitter"></i></a></li>
                <li><a href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i></a></li>
                <li><a href="https://open.spotify.com/intl-es"><i class="fa-brands fa-spotify"></i></a></li>
                <li><a href="https://music.apple.com/us/browse"><i class="fa-brands fa-apple"></i></a></li>
                <li><a href="https://music.amazon.com/"><i class="fa-brands fa-amazon"></i></a></li>
                <li><a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a></li>
            </ul>
        </header>
        <section><h1>MUSIC//</h1></section>
        <section>
            <h4>Direct links</h4>
            <ul>
                <li><a href="#player">Album</a></li>
                <li><a href="#video1">Video: Organic love</a></li>
                <li><a href="#video2">Video: Street light</a></li>
            </ul>
            <article>
                
                <h2>ALBUM<br>TWIST IN MY REALITY</h2>
                <img src="img/emilia-play-list.png" alt="Imagen del album">
                <ol><section id="player"></section>
                    <li><i class="fa-solid fa-play"></i> Organic Love | 02:40</li>
                    <li><i class="fa-solid fa-play"></i> Twist In My Reality | 02:10</li>
                    <li><i class="fa-solid fa-play"></i> Street Light | 03:28</li>
                    <li><i class="fa-solid fa-play"></i> Love Don’t Live Here Anymore (Cover) | 03:49</li>
                </ol>
                <a href="#top">Go top</a>
            </article>
            <section id="video1"></section>
            <h2>VIDEO<br>ORGANIC LOVE</h2>
            <iframe src="https://player.vimeo.com/video/135166028?h=fdb0646ae5" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
            <section><h5>
                Directed by VINCE MALC & EMILIA COLE<br>Edited and Filmed by NICOLAS TROY<br>Produced by NIKI HEART,<br>Wix Films LTD
            </h5>
            <a href="#top">Go top</a>
            </section>
            <section id="video2"></section>
            <h2>VIDEO<br>STREET LIGHT</h2>
            <iframe src="https://player.vimeo.com/video/134861419?h=24e3183108" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
            <section><h5>
                Directed by VINCE MALC & EMILIA COLE<br>Edited and Filmed by NICOLAS TROY<br>Produced by NIKI HEART,<br>Wix Films LTD
            </h5>
            <a href="#top">Go top</a>
        </section>
        </section>
    </body>
    </html>