    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Emilia Cole - Music</title>
        <script src="https://kit.fontawesome.com/2e2ec8e27e.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        
        <header id="top"  class="header_nav_music" >
            <nav class="nav_accesos_cabecera_music nav_bloque_sombreado_music">
                <ul>
                    <li><a href="/">| HOME |</a></li>
                    <li><a href="/about">ABOUT |</a></li>
                    <li><a href="/music">MUSIC |</a></li>
                    <li><a href="/contact">CONTACT |</a></li>
                </ul>
            </nav>
                <ul class="nav_redessociales_music">
                    <li><a href="https://twitter.com/"><i class="fa-brands fa-x-twitter"></i></a></li>
                    <li><a href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i></a></li>
                    <li><a href="https://open.spotify.com/intl-es"><i class="fa-brands fa-spotify"></i></a></li>
                    <li><a href="https://music.apple.com/us/browse"><i class="fa-brands fa-apple"></i></a></li>
                    <li><a href="https://music.amazon.com/"><i class="fa-brands fa-amazon"></i></a></li>
                    <li><a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a></li>
                </ul>
        </header>
        <section id="titulo_music"><h1>MUSIC //</h1></section>
        <section id="accesos_music">
            <h4>Direct links</h4>
            <ul>
                <li><a href="#player">Album</a></li>
                <li><a href="#video1">Video: Organic love</a></li>
                <li><a href="#video2">Video: Street light</a></li>
            </ul>
            <article>
                <h2 id="subtitulo_music_1">ALBUM<br>TWIST IN MY REALITY</h2>
                <img src="img/emilia-play-list.png" alt="Imagen del album" id="portada_de_album">
                <ol id="lista_de_reproduccion"><section id="player"></section>
                    <li><i class="fa-solid fa-play"></i> Organic Love | 02:40</li>
                    <li><i class="fa-solid fa-play"></i> Twist In My Reality | 02:10</li>
                    <li><i class="fa-solid fa-play"></i> Street Light | 03:28</li>
                    <li><i class="fa-solid fa-play"></i> Love Don’t Live Here Anymore (Cover) | 03:49</li>
                </ol>
                <a href="#top" id="boton_up" >Go top</a>
            </article>
            <section id="video1"></section>
            <h2 id="titulo_video_music">VIDEO<br>ORGANIC LOVE</h2>
            <iframe src="https://player.vimeo.com/video/135166028?h=fdb0646ae5" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
            <sectin id="datos_videos"><h5>
                Directed by VINCE MALC & EMILIA COLE<br>Edited and Filmed by NICOLAS TROY<br>Produced by NIKI HEART,<br>Wix Films LTD
            </h5>
            <a href="#top" id="boton_up" >Go top</a>
            </sectin>
            <section id="video2"></section>
            <h2 id="titulo_video_music">VIDEO<br>STREET LIGHT</h2>
            <iframe src="https://player.vimeo.com/video/134861419?h=24e3183108" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
            <section id="datos_videos"><h5>
                Directed by VINCE MALC & EMILIA COLE<br>Edited and Filmed by NICOLAS TROY<br>Produced by NIKI HEART,<br>Wix Films LTD
            </h5>
            <a href="#top" id="boton_up" >Go top</a>
        </section>
        </section>
    </body>
    </html>